name: validation

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

env:
  FLUTTER_VERSION: 3.13.4

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - name: Set up repository
        uses: actions/checkout@v3

      - name: Latest deno release
        id: latest_deno
        uses: pozetroninc/github-action-get-latest-release@v0.7.0
        with:
          owner: denoland
          repo: deno
          excludes: prerelease, draft
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ steps.latest_deno.outputs.release }}

      - name: Set up Flutter
        uses: flutter-actions/setup-flutter@v2
        with:
          channel: stable
          version: ${{ env.FLUTTER_VERSION }}
          cache: true
          cache-key: flutter-${{ matrix.os }}-${{ env.FLUTTER_VERSION }}

      - name: Check Flutter CLI
        run: flutter doctor -v

      - id: sanitize_deno_version
        run: deno run --allow-env --allow-write bin/remove_prefix_v.ts "${{ steps.latest_deno.outputs.release }}"

      - name: Update `.dvmrc` and `DENO_VERSION`
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          printf "${{ steps.sanitize_deno_version.outputs.semvar }}" > .dvmrc
          echo "export const DENO_VERSION = '${{ steps.sanitize_deno_version.outputs.semvar }}'" \
            > lib/version/src/deno_version.ts

      - name: Update `.dvmrc` and `DENO_VERSION` on Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          Set-Content `
            -Path "lib\version\src\deno_version.ts" `
            -Value (
              "export const DENO_VERSION = " +
              "'${{ steps.sanitize_deno_version.outputs.semvar }}'"
            )

      - name: Commit changes
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Bump up: `deno`"

      - name: Deno fmt
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: deno fmt --ignore='test-sample/**'

      - name: Commit changes
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Format code with `deno fmt`"

      - name: Deno lint
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: deno lint lib/**/*.ts driver/*.ts

      - name: Deno check
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: deno check lib/**/*.ts driver/*.ts

      - name: Run tests
        run: deno test --allow-all --coverage=cov_profile

      - name: Make coverage report
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          deno coverage \
            --lcov \
            --output=cov_profile.lcov \
            --exclude='test_utils\/.*' \
            --exclude='test_deps\.ts' \
            cov_profile

      - name: "Upload coverage report"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v3
        with:
          file: cov_profile.lcov
